<!-- Container Menu e Conteúdo -->
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="/#/home">Home</a></li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Usuários <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="/#/usuarios/aluno">Alunos</a></li>
      <li><a href="/#/usuarios/professor">Professores</a></li>
    </ul>
  </li>


  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Questões <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="/#/questoes/listagem">Listagem</a></li>
      <li><a href="/#/questoes/inserir">Inserir</a></li>
    </ul>
  </li>
</ul>
