<ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="/#/">Home</a></li>
    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Alunos <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="/#/alunos">Consultar</a></li>
        <li><a href="">Cadastrar</a></li>
      </ul>
    </li>
    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Professores <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="/#/professores">Consultar</a></li>
        <li><a href="">Cadastrar</a></li>
      </ul>
    </li>
    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Questões <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="/#/questoes">Listagem</a></li>
        <li><a href="/#/questoes/inserir">Inserir</a></li>
      </ul>
    </li>
  </ul>
