<div class="input-group">
    <span class="input-group-addon" id="sizing-addon2">@</span>
    <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2" ng-model="login">
</div>

<div class="input-group">
    <span class="input-group-addon" id="sizing-addon2">#</span>
    <input type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon2" ng-model="senha">
</div>

<button type="button" class="btn btn-default dropdown-toggle btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            ng-click="pegarValores()">
    Acessar
</button>

<br/>
<br/>
<br/>
<br/>

{{login}} - {{senha}}